@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
select {
    color: #9B9B9B;
    padding: .7rem 1rem;
    font-size: 15px;
    border-radius: 8px;
}

select option {
    color: #9B9B9B;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
